@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.miama-font{
    font-family: 'Miama', sans-serif;
}

/* shared styles */

.display-flex{
    display: flex;
}

.text-white{
    color: rgb(255, 255, 255);
}
.text-grey{
    color: rgba(255, 255, 255, 0.5)
}

.bg-color{
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(33, 33, 33) 100%);
}

.orange-color{
    color: #e6533c;
}

/* header style */

/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0 5.5rem;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    color:rgb(255, 255, 255);
   
}

.nav-item{
    list-style: none;
    padding: 0 2rem;
    
}

.navbar , .hero-content{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar .nav-item{
    padding: 5px 25px;
    border: 1px solid transparent;
    border-radius: 39px;
    font-weight: 400;
    font-size: 1rem;
    transition: ease-in .4s;
}

.navbar .nav-item:hover{
    border: 1px solid #e6533c;
    background-color: #e6533c;
    transition: ease-in .4s;
}

.navbar .nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 2px;
    display: flex;
    transition: ease-in .4s;
    gap: 20px
}

.brand{
    font-size: 2rem;
    font-weight: 700;
}

